In [7]:
# 编写一个python程序读取此数据集的内容，并统计得到以下信息：
# 一共有多少不同的用户
# 一共有多少不同的电影
# 一共有多少不同的电影种类
# 一共有多少电影没有外部链接
# 2018年一共有多少人进行过电影评分

import pandas as pd
import time

tags = pd.read_csv('D:/zybank/tags.csv')
ratings = pd.read_csv('D:/zybank/ratings.csv')
movies = pd.read_csv('D:/zybank/movies.csv')
links = pd.read_csv('D:/zybank/links.csv')
tags.head()
ratings.head()
movies.head()
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
# 1. 用户数量
users = list()
users.extend(tags['userId'].tolist())
users.extend(ratings['userId'].tolist())


print('1. 一共有 %s 个不同的用户' % (str(len(set(users)))))
# 2. 电影数量
m = movies['movieId'].tolist()
print('2. 一共有 %s 种不同的电影' % (str(len(set(m)))))
#2. 一共有 62423 种不同的电影
# 3. 电影种类数量
m_type_tmp = movies['genres'].tolist()
m_type = list()
for item in m_type_tmp:
    if '|' in item:
        m_type.extend(item.split('|'))
    else:
        m_type.append(item)
print('3. 一共有 %s 个不同的电影种类' % (str(len(set(m_type)))))
#3. 一共有 20 个不同的电影种类
# 4. 电影无外部链接
all_movie_id = set(movies['movieId'].tolist())
has_link_movie_id = set(links['movieId'].tolist())
no_link_movie_id = all_movie_id - has_link_movie_id
print('4. 一共有 %s 部电影没有外部链接' % (str(len(no_link_movie_id))))
#4. 一共有 0 部电影没有外部链接
#5. 2018年进行电影评分用户
def trans(timestamp):
    time_local = time.localtime(timestamp)
    dt = time.strftime("%Y", time_local)
    return dt
ratings['timestamp'] = ratings['timestamp'].apply(trans)
ratings_t_2018 = ratings[ratings['timestamp'] == '2018']
u = ratings_t_2018['userId'].tolist()
print('5. 2018年一共有 %s 人进行电影评分' % (str(len(set(u)))))
# 5. 2018年一共有 11999 人进行电影评分

1. 一共有 162541 个不同的用户
2. 一共有 62423 种不同的电影
3. 一共有 20 个不同的电影种类
4. 一共有 0 部电影没有外部链接
5. 2018年一共有 11999 人进行电影评分

5. 2018年一共有 11999 人进行电影评分